//Form styles
div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select {
  @include input-text;
  @include input-style;
}
div.wpcf7 textarea {
  height: size(192);
  padding: 23px 17px !important;
  &::placeholder {
	opacity: 0.5;
  }
}
div.wpcf7 select {
  -webkit-appearance: none;
  background-position: 20px center;
  background-size: 17px;
  padding-right: 15px;
  padding-left: 40px;
  background-image: url("../iconsall/form-select.png");
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
}
div.wpcf7 input[type="submit"] {
  border: none;
  background-color: $rose-main;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  white-space: normal;
  padding: 10px size(27) 10px size(55);
  background-image: url("../iconsall/form-submit.png");
  background-position: size(25) center;
  background-repeat: no-repeat;
  background-size: 10px;
  transition: background-position .5s;
  &:hover {
	background-position: 6px center;
	transition: background-position .5s;
  }
}
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
.form-title {
  color: #100736;
  @include mid-title;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 25px;
}
.repeat-form-block {
  padding: size(43) 0 size(20) 0;
  background-color: #d8dde8;
}
.blue-form {
  .repeat-form-block {
	background-color: $blue-main;
  }
  .form-title {
	color: #ffffff;
  }
}
