#MainNav{
  ul{
	display: flex;
	height: 100%;
	li{
	  height: 85%;
	  a{

	  }
	}
  }
}



//Footer
#go-top {
  position: absolute;
  right: 33px;
  top: -3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  z-index: 111;
  svg {
	width: size(64);
	height: size(64);
	fill: $rose-main;
	transition: fill .5s;
	animation: jump-top 1.2s ease-in-out alternate infinite;
  }
  &:hover {
	svg {
	  fill: $blue-main;
	  transition: fill .5s;
	}
  }
}
.footer-main {
  padding: 2rem 0 3rem 0;
  margin-top: 3rem;
  background-color: $blue-main;
}
.foo-menu {
  padding-top: 15px;
}
.foo-title {
  @include base-text;
  color: #ffffff;
  margin-bottom: 0.5rem;
}
.facebook-title {
  display: flex;
  align-items: center;
  font-size: size(20);
  color: #ffffff;
  line-height: size(22);
  img {
	height: size(35);
	margin: -15px 10px 0 10px;
  }
}
.menu-border-top {
  position: relative;
  border-top: 2px solid #fafafc;
  padding-top: 15px;
  &:before {
	content: '';
	width: size(119);
	position: absolute;
	right: 0;
	height: 4px;
	top: -2px;
	background-color: $rose-main;
	display: block;
  }
}
.facebook-widget {
  overflow-x: hidden;
}
.hop-hey.two-columns {
  column-count: 2;
  column-gap: 2rem;
}
footer {
  position: relative;
  li {
	position: relative;
	padding-right: 10px;
	a {
	  @include base-text;
	  font-weight: 300;
	  color: #ffffff;
	  transition: color .5s;
	}
	a:hover {
	  color: $rose-main;
	  transition: color .5s;
	}
  }
  li::before {
	position: absolute;
	top: size(10);
	right: 0;
	content: '';
	width: 3px;
	height: 5px;
	display: inline-block;
	border: 3px solid transparent;
	border-right: 3px solid #fff;
  }
  .contact-list li {
	padding-right: 0;
	a {
	  display: flex;
	  align-items: center;
	}
	&:before {
	  display: none;
	}
  }
}
.float-form {
  position: fixed;
  top: 10%;
  z-index: 99999;
  transition: all .5s;
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
  overflow-y: auto;
  height: 100vh;
  &.show-form {
	pointer-events: all;
	left: 3rem;
	opacity: 1;
	transform: translateX(0);
  }
  .blue-item-wrap {
	overflow-y: auto;
  }
}
.socials-fix {
  position: fixed;
  left: 0;
  bottom: 20%;
  z-index: 9999;
}
.social-link {
  @include d-center;
  width: size(58);
  height: size(58);
  border-radius: 0 size(29) size(29) 0;
  margin-bottom: 7px;
  background-color: $blue-main;
  cursor: pointer;
  .fas, .fab{
	color: #ffffff !important;
	font-size: size(32);
  }
  img {
	width: size(27);
  }
  &.whatsapp-l {
	background-color: #12c436;
  }
  &.instagram-l {
	background-image: url("../iconsall/instagram-back.png");
	@include back-img;
  }
  &.facebook-l {
	background-color: #21448e;
  }
  &.youtube-l {
	background-color: #ae0101;
  }
}


//Dropdown
.drop-container {
  position: absolute;
  top: 100%;
  box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.21);
  background-color: #ffffff;
  width: 80%;
  height: auto;
  display: none;
  z-index: 999999;
  overflow-y: auto;
  //&.show {
  //opacity: 1;
  //transition: opacity .5s;
  //}
  ul.sub-menu {
	padding: 45px;
	column-count: 3;
	column-gap: 2rem;
	li a {
	  @include base-text;
	  color: $blue-main;
	  margin-bottom: 0.5rem;
	  transition: color .5s;
	  &:hover {
		color: $rose-main;
		transition: color .5s;
	  }
	}
  }
}
header {
  position: relative;
  z-index: 12345;
  background-color: #ffffff;
  .container-fluid {
	max-width: 95%;
  }
  .hamburger {
	padding: 0;
	display: flex;
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	height: 2px;
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after,
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
	background-color: #ffffff;
  }
}
.logo {
  @include d-center;
  img {
	max-height: size(63);
  }
}
.drop-menu {
  display: none;
  position: absolute;
  justify-content: flex-start;
  align-items: flex-start;
  padding: size(40) 5%;
  background-color: #ffffff;
  box-shadow: -2px 2px 20px -1px #010000;
  width: auto;
  z-index: 9999;
  top: calc(100% + 15px);
  overflow-y: auto;
  nav {
	width: 100%;
  }
  ul{
	li{
	  display: flex;
	  align-items: baseline;
	  a {
		@include mid-text;
		color: $blue-main;
		margin-bottom: 0.5rem;
		transition: color .5s;
		&:hover {
		  color: $rose-main;
		  transition: color .5s;
		}
	  }
	}
  }
}
.header-bottom {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background-color: $blue-main;
}
#desktopNav {
  ul{
	display: flex;
	height: 100%;
	flex-wrap: wrap;
	ul.sub-menu {
	  display: none;
	}
	li{
	  position: relative;
	  @include d-center;
	  padding: 0 15px;
	  &.first-sub-menu:hover:after {
		position: absolute;
		top: calc(100% + 15px);
		content: '';
		height: 5px;
		display: block;
		width: 100%;
		background-color: $rose-main;
		z-index: 999999999;
	  }
	  &.first-sub-menu:before {
		position: absolute;
		content: '';
		display: block;
		width: 1px;
		height: 55%;
		left: 0;
		background-color: #ffffff;
	  }
	  &:last-child.first-sub-menu:before {
		display: none;
	  }
	  a{
		@include mid-text;
		text-align: center;
		color: #ffffff;
		transition: color .5s;
		&:hover {
		  color: #ffffff;
		}
	  }
	}
  }
}
.langs-wrap {
  @include d-center;
  padding: 0 7px;
  transition: background-color .5s;
  &:hover {
	background-color: #ffffff;
	transition: background-color .5s;
	li a {
	  color: $rose-main;
	  transition: color .5s;
	}
  }
  li.active {
	display: none;
  }
  li a {
	font-size: size(20);
	color: $blue-main;
	line-height: size(22);
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	transition: color .5s;
  }
}
.header-tel {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
	min-width: size(20);
	width: size(20);
	margin: 0 6px;
  }
  &:hover {
	.tel-number {
	  color: $rose-main;
	  transition: color .5s;
	}
  }
}
.tel-number {
  font-size: size(20);
  line-height: size(22);
  text-align: center;
  color: $blue-main;
  font-weight: 700;
  transition: color .5s;
}
.header-top {
  padding: size(15) 0;
}
.images-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  img {
	max-height: size(60);
	margin: 0 5px;
  }
}
//Search
.search-header {
  form {
	width: size(200);
	height: size(35);
	border-radius: 13px;
	border: 2px solid $blue-main;
	background-color: #ffffff;
	display: flex;
	align-items: stretch;
  }
  input[type="submit"] {
	-webkit-appearance: none;
	width: size(35);
	background-color: #fff;
	background-image: url("../iconsall/search.png");
	background-size: size(18);
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 13px;
  }
  input[type="search"] {
	border-radius: 13px;
	width: size(165);
  }
}
.close-search {
  display: none;
  position: absolute;
  right: -10px;
  top: -10px;
  @include base-text;
  cursor: pointer;
  color: $blue-main;
}
.search-trigger {
  display: none;
  width: size(20);
}
.msg-text {
  @include base-text;
  color: $text-main;
  text-align: center;
}
.header-news {
  width: 100%;
  background-color: #f9f9f9;
  padding: 8px 0;
}
