//Faq
.faq {
  margin: size(50) 0;
  .card {
	border: none !important;
  }
  .question-card {
	margin-bottom: 16px;
	border-radius: 0 !important;
  }
  .question-title {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: transparent !important;
	border: none !important;
	min-height: size(71);
	padding: 0;
	&:after {
	  content: '+';
	  @include d-center;
	  position: absolute;
	  left: 20px;
	  font-family: $almoni-tzar;
	  font-size: size(50);
	  font-weight: 700;
	  font-style: normal;
	  letter-spacing: normal;
	  line-height: size(36);
	  color: $rose-main;
	  text-align: center;
	  top: 0;
	  height: size(71);
	}
	&.active-faq:after {
	  content: '-';
	}
  }
}
.question-title-q {
  display: flex;
  width: 100%;
  position: relative;
  @include mid-text;
  color: $text-main;
  text-align: right;
  padding: 0 size(25) 0 50px;
}
.answer-body {
  background-color: #ffffff;
  padding: 0 size(87) 45px 10%;
  p {
	@include mid-text;
	color: $text-main;
  }
}
.question-header {
  position: relative;
  border-radius: 0;
  border: 2px solid #100736;
  background-color: #ffffff;
}
.faq-icon {
  @include d-center;
  min-width: size(62);
  width: size(62);
  height: size(71);
  background-color: #d8dde8;
  padding: 19px;
  align-self: flex-start;
}
//Slider
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: size(22);
	height: size(18);
	z-index: 33;
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-left.png");
	left: -95px;
  }

  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
	right: -75px;
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
.arrows-slider-reviews {
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-blue-left.png");
	left: -32px !important;
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-blue-right.png");
	right: -32px !important;
  }
}
.base-slider-block {
  position: relative;
  padding: size(100) 0;
}
.slider-img-col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  img {
	width: 100%;
  }
}
.base-slider-wrap {
  background-color: $block-back;
  padding: 44px 41px 60px 60px;
}


//Areas of expertise
.areas-block {
  background-color: #f7f7f7;
  padding: size(65) 0;
}
.area-item-col {
  margin-bottom: size(50);
}
.area-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.area-icon-wrap {
  border: 2px solid $rose-main;
  background-color: #ffffff;
  @include d-center;
  width: 100%;
  height: size(250);
  padding: size(60);
  margin-bottom: 19px;
}
.area-title {
  @include mid-text;
  color: #100736;
  text-align: center;
}
//why-us-block
.why-us-block {
  background-color: $blue-main;
  padding: size(72) 0;
  .base-title {
	color: #ffffff;
	margin-bottom: 40px;
  }
}
.why-icon-wrap {
  @include d-center;
  background-color: #f1f2f2;
  padding: size(15);
  width: size(108);
  min-width: size(108);
  height: size(108);
}
.why-item-title {
  font-size: size(30);
  line-height: size(32);
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
}
.why-content-wrap {
  .base-text {
	color: #ffffff;
  }
}
.why-item {
  margin-bottom: size(60);
  &:last-child {
	margin-bottom: 0;
  }
}
.col-why-img-item {
  padding: 4px;
}
.why-image {
  width: 100%;
  @include back-img;
  &:after {
	display: block;
	content: '';
	padding-bottom: 100%;
  }
}
//Cards
.col-worker {
  margin: 20px 0;
}
.worker-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  .base-mid-title {
	color: $blue-main;
	text-align: center;
	margin-bottom: 10px;
  }
  &:hover {
	.base-mid-title {
	  color: $rose-main;
	  transition: color .5s;
	}
  }
}
.worker-img-wrap {
  @include d-center;
  width: 100%;
  border: 2px solid $rose-main;
  padding: 30px;
  margin-bottom: 25px;
}
.worker-img {
  width: 100%;
  @include back-img;
  &:after {
	content: '';
	display: block;
	padding-bottom: 100%;
  }
}
.worker-position-title {
  font-size: size(30);
  font-weight: 400;
  line-height: size(34);
  color: $blue-main;
  text-align: center;
}
.worker-page-col-wrap {
  .worker-img-wrap {
	padding: 15px;
  }
  .about-img-wrap {
	padding: 15px;
	width: 100%;
  }
}
//Sidebar
.side-img-wrap {
  @include d-center;
  box-shadow: 0 7px 24px rgba(0, 0, 0, 0.4);
  border: 2px solid #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
  margin-bottom: 23px;
  align-self: center;
  width: size(246);
  height: size(246);
  overflow-y: hidden;
  img {
	width: 100%;
	max-height: 100%;
	border-radius: 50%;
  }
}
.side-item-title {
  @include mid-text;
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  margin-bottom: 15px;
}
.side-item-text {
  font-size: size(22);
  line-height: size(24);
  font-weight: 400;
  color: #ffffff;
}
//Card post
.col-post {
  margin-bottom: 22px;
}
.post-card {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #f7f7f7;
  &:hover .base-item-title {
	color: $rose-main;
	transition: color .5s;
  }
}
.post-img {
  @include back-img;
  width: 21.5%;
  min-width: 21.5%;
  background-color: $blue-main;
  &:after {
	padding-bottom: 100%;
	display: block;
	content: '';
  }
}
.post-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  padding: size(46) size(25) size(44) size(39);
  .base-link {
	align-self: flex-end;
  }
}
