/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints
@media (min-width: 1920px) {
  html{
	font-size: 22px;
  }
}
@media (max-width: 1920px) {
  html{
	font-size: 20px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1500px) {
  .msg-text {
	@include mid-text;
  }
  .header-tel {
	img {
	  width: size(34);
	  margin: 0 12px;
	}
  }
  .tel-number {
	font-size: size(30);
	line-height: size(32);
  }
  .langs-wrap {
	@include d-center;
	padding: 0 7px;
	li a {
	  font-size: size(30);
	  line-height: size(32);
	}
  }
  .logo {
	img {
	  max-height: size(93);
	}
  }
  .search-header {
	form {
	  max-width: size(280);
	  height: size(45);
	}
	input[type="submit"] {
	  -webkit-appearance: none;
	  width: size(45);
	  background-size: size(24);
	}
  }
  .slide-main-wrap {
	flex: 0 0 48%;
	max-width: 48%;
	padding: size(44) size(44) size(44) 10rem;
	clip-path: polygon(10rem 0, 100% 0, 100% 100%, 0% 100%);
  }
  .container {
	max-width: 76%;
  }
  .side-title {
	font-size: size(40);
	line-height: size(35);
  }
  .side-subtitle {
	font-size: size(33);
	line-height: size(35);
  }
  .side-text {
	font-size: size(26);
	line-height: size(28);
  }
  .drop-container {
	ul.sub-menu {
	  padding: 45px;
	  column-count: 4;
	  column-gap: 2rem;
	  li a {
		@include mid-text;
	  }
	}
  }
}

@media (max-width: 1300px) {
  .post-img {
	width: 30%;
	min-width: 30%;
  }
  .arrows-slider {
	[dir="rtl"] .slick-next {
	  left: -60px;
	}
	[dir="rtl"] .slick-prev {
	  right: -40px;
	}
  }
  .header-news {
	padding: 0;
  }
  .msg-text {
	font-size: size(15);
	line-height: size(17);
  }
  .arrows-slider-reviews {
	margin-bottom: 3rem !important;
	[dir="rtl"] .slick-next,[dir="rtl"] .slick-prev {
	  top: calc(100% + 1rem);
	}
	[dir="rtl"] .slick-next {
	  left: calc(50% - 32px) !important;
	}
	[dir="rtl"] .slick-prev {
	  right: calc(50% - 32px) !important;
	}
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
	font-size: 19px;
  }
  #desktopNav {
	ul{
	  li{
		padding: 0 10px;
		&.first-sub-menu:hover:after {
		  height: 3px;
		}
		a{
		  @include base-text;
		  text-align: center;
		  color: #ffffff;
		}
	  }
	}
  }
  .col-content-side {
	order: -1;
	margin-bottom: 1rem;
  }
  .row-hidden-button {
	display: flex;
  }
  .row-main-button {
	display: none;
  }
  .slide-main-wrap {
	flex: 0 0 68%;
	max-width: 68%;
	padding: size(44) size(44) size(44) 5rem;
	clip-path: polygon(5rem 0, 100% 0, 100% 100%, 0% 100%);
  }
  .arrows-slider {
	[dir="rtl"] .slick-next,
	[dir="rtl"] .slick-prev {
	  top: calc(100% + 1rem);
	}
	[dir="rtl"] .slick-next {
	  left: calc(100% - 50px);
	}
	[dir="rtl"] .slick-prev {
	  right: 0;
	}
  }
  .base-slider-wrap {
	padding: 44px 20px !important;
  }
  .hop-hey.two-columns {
	column-count: 1;
	column-gap: unset;
  }
  .foo-menu {
	margin-bottom: 2rem;
  }
  .col-sidebar {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
  }
  .sidebar-form {
	order: -1;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 20px;
  }
  .header-tel img {
	margin: 0;
  }
  .logo {
	img {
	  max-height: size(43);
	}
  }
  .images-header img {
	max-height: size(40);
  }
  .tel-number {
	display: none;
  }
  .post-img {
	width: 35%;
	min-width: 35%;
  }
  .worker-page-col-wrap {
	order: -1;
	margin-bottom: 2rem;
  }
  .slide-main-wrap {
	flex: 0 0 78%;
	max-width: 78%;
  }
  .review-item {
	margin: 0 !important;
  }
  .col-about-img {
	margin: 0 15px 2rem 15px;
  }
  header {
	.container-fluid {
	  max-width: 99%;
	}
  }
  .drop-container {
	ul.sub-menu {
	  column-count: 2;
	  column-gap: 1rem;
	}
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .search-header {
	display: none;
	position: absolute;
	left: 3.4rem;
	.close-search {
	  display: block;
	}
	&.show-search {
	  display: block;
	}
  }
  .search-trigger {
	display: flex;
  }
  .hop-hey.two-columns {
	column-count: 2;
	column-gap: 1rem;
  }
  .main-slider {
	ul.slick-dots {
	  right: 5px;
	  top: 30%;
	}
  }
  .post-img {
	width: 100%;
	min-width: unset;
	&:after {
	  padding-bottom: 40%;
	}
  }
  .post-card {
	flex-wrap: wrap;
  }
  .social-link {
	width: size(38);
	height: size(38);
	border-radius: 0 size(19) size(19) 0;
	.fas, .fab{
	  font-size: size(22);
	}
	img {
	  width: size(17);
	}
  }
  .float-form {
	&.show-form {
	  left: 1.2rem;
	}
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .slide-main-wrap {
	flex: 0 0 99%;
	max-width: 99%;
  }
  .col-why-img-item {
	padding: 15px;
  }
  .question-title-q {
	padding: 10px 10px 10px 30px;
	font-size: size(22);
	line-height: size(24);
  }
  .faq .question-title:after {
	left: 10px;
  }
  .answer-body {
	padding: 20px;
  }
  .hop-hey.two-columns {
	column-count: 1;
	column-gap: unset;
  }
  .header-tel {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	z-index: 9999;
	width: size(40);
	height: size(40);
	border-radius: 50%;
	background-color: #ffffff;
	animation: jump 1.2s ease-in-out alternate infinite;
	border: 2px solid $blue-main;
  }
  .search-header {
	left: 2.5rem;
  }
  #desktopNav {
	display: none;
  }
  header {
	.hamburger-box {
	  height: 14px;
	}
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .slide-main-wrap {
	flex: 0 0 100%;
	max-width: 100%;
	padding: size(44) 15px;
	clip-path: unset;
  }
  .blue-item-wrap {
	padding: 26px 10px;
  }
}
