body{
  text-align: left;
  direction: ltr;
}
$base-size: 20;
$blue-main: #192f58;

@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}
.wpcf7-form {
  * {
	direction: ltr !important;
  }
  ::placeholder {
	text-align: left;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	text-align: left;
  }
}
div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select {
  text-align: left;
  background-position: 9px center;
  padding-left: size(65);
  padding-right: 8px;
}
div.wpcf7 select {
  background-position: calc(100% - 20px) center;
  padding-left: 15px;
  padding-right: 40px;
}
div.wpcf7 input[type="submit"] {
  text-align: center;
  padding: 10px size(50) 10px size(27);
  background-image: url("../iconsall/form-submit-l.png");
  background-position: calc(100% - 1rem) center;
  &:hover {
	background-position: calc(100% - 6px) center;
  }
}
.base-link {
  padding: 10px 40px 10px 19px;
  background-image: url("../iconsall/form-submit-l.png");
  background-position: calc(100% - 16px) center;
  &:hover {
	background-position: calc(100% - 5px) center;
  }
}
.base-slider-wrap {
  padding: 44px 60px 60px 41px;
}
.main-slider {
  ul.slick-dots {
	left: 30px;
  }
}
.main-slide-item {
  justify-content: flex-end !important;
}
.main-slider {
  ul.slick-dots {
	right: unset;
	left: 30px;
  }
}
.slide-main-wrap {
  padding: size(44) 7rem size(44) size(44);
  clip-path: polygon(0 0, calc(100% - 7rem) 0, 100% 100%, 0% 100%);
}
.question-title-q {
  text-align: left;
  padding: 0 50px 0 size(25);
  &:after {
	left: unset;
	right: 20px;
  }
}
.answer-body {
  background-color: #ffffff;
  padding: 0 10% 45px size(87);
}
.menu-border-top {
  &:before {
	right: unset;
	left: 0;
  }
}
footer {
  li {
	padding-left: 10px;
	padding-right: 0;
	&:before {
	  right: unset;
	  left: 0;
	  border: 3px solid transparent;
	  border-left: 3px solid #fff;
	}
  }
  .contact-list li {
	padding-left: 0;
  }
}
.review-item {
  direction: ltr;
}
#reviewsModal {
  .modal-content .close {
	left: unset;
	right: 10px;
  }
}
.worker-page-body {
  .nav-tabs .nav-item {
	&:first-child {
	  padding-left: 0 !important;
	  padding-right: 1px !important;
	}
	&:last-child {
	  padding-right: 0 !important;
	  padding-left: 1px !important;
	}
  }
}
.post-card-content {
  padding: size(46) size(39) size(44) size(25);
}
.link-item-col {
  border-right: 1px solid $blue-main;
  border-left: none;
  &:last-child {
	border-right: none;
  }
}
.home-posts-block {
  .nav-tabs .nav-item {
	&:first-child {
	  padding-left: 0 !important;
	  padding-right: 15px !important;
	}
	&:last-child {
	  padding-left: 15px !important;
	  padding-right: 0 !important;
	}
  }
}
.socials-fix {
  right: 0;
  left: unset;
}
.social-link {
  border-radius: size(29) 0 0 size(29);
}
.float-form {
  direction: ltr;
  transform: translateY(-100%);
  right: 3rem;
  &.show-form {
	left: unset;
	right: 3rem;
	transform: translateY(0);
  }
}
.close-search {
  right: unset;
  left: -10px;
}
#desktopNav {
  ul{
	li{
	  &.first-sub-menu:before {
		right: 0;
		left: unset;
		height: 65%;
	  }
	  &:last-child.first-sub-menu:before {
		display: none;
	  }
	}
  }
}

//Responsive LTR
@media (min-width: 1920px) {

}
@media (max-width: 1920px) {

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1500px) {
  .slide-main-wrap {
	padding: size(44) 10rem size(44) size(44);
	clip-path: polygon(0 0, calc(100% - 10rem) 0, 100% 100%, 0% 100%);
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  .slide-main-wrap {
	padding: size(44) 5rem size(44) size(44);
	clip-path: polygon(0 0, calc(100% - 5rem) 0, 100% 100%, 0% 100%);
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {

}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  .main-slider {
	ul.slick-dots {
	  right: unset;
	  left: 5px;
	}
  }
  .social-link {
	border-radius: size(19) 0 0 size(19);
  }
  .float-form {
	direction: ltr;
	right: 1.2rem;
	&.show-form {
	  left: unset;
	  right: 1.2rem;
	}
  }
  .search-header {
	left: unset;
	right: 3.4rem;
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  .question-title-q {
	padding: 10px 30px 10px 10px;
	&:after {
	  right: 10px;
	  left: unset;
	}
  }
  .answer-body {
	padding: 20px;
  }
  .header-tel {
	right: unset;
	left: 1rem;
  }
  .search-header {
	right: 2.5rem;
	left: unset;
  }
}

/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .slide-main-wrap {
	padding: size(44) 15px;
	clip-path: unset;
  }
}
