@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "forms";
@import "header-footer";
@import "partials";


body{
  font-family: $heebo;
  text-align: right;
}
.wow {
  visibility: hidden;
}
.base-title {
  @include base-title;
}
.base-mid-title {
  @include mid-title;
  transition: color .5s;
}
.base-item-title {
  @include mid-text;
  font-weight: 700;
  color: $blue-main;
  margin-bottom: 10px;
}
.base-text {
  @include base-text;
  color: $text-main;
}
.base-output {
  h1, h2, h3, h4, h5, h6 {
	color: $blue-main;
	margin-bottom: 15px;
	font-weight: 500;
  }
  p, li {
	@include base-text;
  }
  li {
	list-style: disc;
  }
  h1, h2 {
	@include base-title;
  }
  h3 {
	@include mid-title;
  }
  h4 {
	font-size: size(30);
	line-height: size(32);
  }
  h5 {
	@include mid-text;
  }
  h6 {
	font-size: size(22);
	line-height: size(24);
  }
  ul {
	margin: 1rem;
  }
}
.bigger-output {
  p, li {
	font-size: size(24);
	line-height: size(30);
  }
}
.post-body-out {
  p {
	margin-bottom: 40px;
  }
}
.base-link {
  @include d-center;
  background-color: $blue-main;
  height: size(40);
  padding: 10px 19px 10px 40px;
  background-image: url("../iconsall/form-submit.png");
  background-position: 16px center;
  background-repeat: no-repeat;
  background-size: 10px;
  @include base-text;
  text-align: center;
  color: #ffffff;
  transition: background-color, background-position .5s;
  &:hover {
	color: #ffffff;
	background-position: 5px center;
	background-color: $rose-main;
	transition: background-color, background-position .5s;
  }
}



//homepage
.main-block {
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
}
.main-slider {
  &.slick-dotted.slick-slider {
	margin-bottom: 0 !important;
  }
  ul.slick-dots {
	position: absolute;
	right: 30px;
	bottom: unset;
	width: unset;
	display: flex;
	flex-direction: column;
	top: 40%;
	li {
	  button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: #ffffff;
		border: 2px solid #ffffff;
		opacity: 1 !important;
		&:before {
		  top: unset;
		  left: unset;
		  color:#ffffff;
		  opacity: 0 !important;
		  font-size: 0.4rem;
		}
	  }
	}
  }
  ul.slick-dots li.slick-active button {
	background-color: $rose-main;
  }
}
.main-slide-item {
  padding: size(400) 0 size(70);
  width: 100%;
  max-height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-end;
}
.slide-main-wrap {
  flex: 0 0 51%;
  max-width: 51%;
  padding: size(44) size(44) size(44) 7rem;
  background-color: $block-back;
  clip-path: polygon(7rem 0, 100% 0, 100% 100%, 0% 100%);
  .base-output {
	h1, h2, h3, h4, h5, h6 {
	  color: #31446b;
	}
  }
}
//Reviews
.reviews-block {
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
}
.review-slide {
  padding: 2rem 0;
  &:nth-child(even) {
	.review-item {
	  margin: 0 2rem 0 0;
	}
  }
  &:nth-child(odd) {
	.review-item {
	  margin: 0 0 0 2rem;
	}
  }
}
.review-item {
  position: relative;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 4px solid $blue-main;
  background-color: #ffffff;
  padding: size(90) 10% 100px 10%;
  margin: 0 2rem;
}
.quote {
  position: absolute;
  z-index: 90;
  width: 3rem;
}
.quote-top {
  top: -2rem;
  left: -5px;
}
.quote-bottom {
  bottom: -2rem;
  right: -5px;
}
.review-col {
  margin-bottom: 2rem;
}
.rev-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  img {
	max-height: size(45);
	margin: 0 15px;
  }
}
.rev-pop-trigger {
  position: absolute;
  bottom: 45px;
  width: size(42);
  height: size(42);
  border-radius: 50%;
  @include d-center;
  background-color: $blue-main;
  cursor: pointer;
  @include base-text;
  text-align: center;
  color: #ffffff;
  transition: background-color .5s;
  &:hover {
	background-color: $rose-main;
	transition: background-color .5s;
  }
}
.review-title {
  font-weight: 500;
  margin-bottom: 0;
}
.reviews-block {
  padding: size(40) 0;
}
//Reviews popup
.hidden-review {
  display: none;
}
#reviewsModal {
  .modal-content {
	border: none;
	border-radius: 0;
  }
}
#reviews-pop-wrapper {
  position: relative;
  border-radius: 0;
  background-color: #ffffff;
  border: 5px solid $blue-main;
  align-items: flex-start;
  padding: 2rem;
  z-index: 2222;
}
#reviewsModal {
  .modal-content .close {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 9999;
	cursor: pointer;
	top: 10px;
	left: 10px;
	background-color: transparent;
	.fa-times {
	  color: $rose-main;
	  font-size: 2rem;
	}
  }
}
.modal {
  z-index: 99999;
}
//About
.col-about-img {
  border: 2px solid $rose-main;
}
.about-img-wrap {
  padding: 30px 15px;
}
.home-about-block {
  padding-top: size(85);
  .areas-block {
	padding: size(75) 0;
  }
}
//Contact
.contact-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
}
.contact-icon-wrap  {
  @include d-center;
  width: size(165);
  height: size(165);
  margin-bottom: 23px;
  border: 2px solid $rose-main;
  background-color: #ffffff;
  padding: 35px;
  img {
	max-height: 100%;
  }
}
.contact-info {
  text-align: center;
  color: #303030;
  font-size: size(24);
  line-height: size(26);
  font-weight: 400;
  font-family: $rubik;
  transition: color .5s;
  &:hover {
	color: $rose-main;
	transition: color .5s;
  }
}
.map-image {
  img {
	width: 100%;
  }
}
.contact-form-title, .contact-form-subtitle {
  font-size: size(30);
  font-style: normal;
  letter-spacing: normal;
  line-height: size(40);
  color: $blue-main;
  text-align: center;
  font-weight: 500;
}
.contact-form-back {
  background-color: #d8dde8;
  margin-bottom: 45px;
  padding: 50px 60px;
}
//Worker
.worker-page-body {
  .nav-tabs {
	border-bottom: none;
	align-items: stretch;
  }
  .nav-tabs .nav-item {
	margin-bottom: 0;
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
	padding: 0 1px;
	&:first-child {
	  padding-right: 0 !important;
	}
	&:last-child {
	  padding-left: 0 !important;
	}
  }
  .nav-tabs .nav-link {
	border: none;
	border-radius: 0;
	background-color: $blue-main;
	color: #ffffff;
	font-size: size(30);
	line-height: size(32);
	text-align: center;
	font-weight: 400;
	padding: 30px;
  }
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	color: #ffffff;
	font-weight: 500;
	background-color: $rose-main;
  }
}
//Blog
.more-link {
  @include d-center;
  @include base-text;
  text-align: center;
  color: #100736;
  background-color: #f7f7f7;
  height: size(40);
  min-width: size(172);
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: color, background-color .5s;
  &:hover {
	color: #ffffff;
	background-color: $blue-main;
	transition: color, background-color .5s;
  }
  &.hide {
	display: none;
  }
}
.blue-item-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 26px;
  background-color: $blue-main;
  margin-bottom: 16px;
}
.row-hidden-button {
  display: none;
}
.side-title {
  font-size: size(30);
  line-height: size(32);
}
.side-title, .side-subtitle, .side-text {
  text-align: center;
  color: #ffffff;
  margin-bottom: 8px;
  font-weight: 700;
}
.side-subtitle {
  font-size: size(25);
  line-height: size(28);
}
.side-text {
  font-weight: 400;
  font-size: size(22);
  line-height: size(24);
  margin-bottom: 12px;
}
.link-item-col {
  @include d-center;
  margin-bottom: 14px;
  border-left: 1px solid $blue-main;
  a {
	@include d-center;
	@include mid-text;
	color: $blue-main;
	font-weight: 400;
	transition: color .5s;
	&:hover {
	  color: $rose-main;
	  transition: color .5s;
	}
  }
  &:last-child {
	border-left: none;
  }
}
.socials-share {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}
.share-text {
  @include mid-text;
  color: $text-main;
}
.social-share-link {
  margin: 0 8px;
  img {
	width: size(46);
  }
}
.links-block-title {
  color: #ffffff;
  font-size: size(27);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(30);
  padding-bottom: 20px;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 20px;
}
.links-block-item {
  color: #ffffff;
  font-size: size(24);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(26);
  margin-bottom: 20px;
  transition: color .5s;
  &:hover {
	color: $rose-main;
	transition: color .5s;
  }
}
.home-posts-block {
  padding-top: 100px;
  .nav-tabs {
	border-bottom: none;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 30px;
  }
  .nav-tabs .nav-item {
	flex: 0 0 auto;
	width: auto;
	max-width: 100%;
	margin-bottom: 10px;
	&:first-child {
	  padding-right: 0 !important;
	}
	&:last-child {
	  padding-left: 0 !important;
	}
  }
  .nav-tabs .nav-link {
	border: none;
	border-radius: 0;
	background-color: transparent;
	color: $blue-main;
	font-size: size(25);
	line-height: size(28);
	text-align: center;
	font-weight: 400;
	padding: 0;
  }
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	color: $rose-main;
	font-weight: 500;
  }
}
.socials-fix {

}


@import "responsive";
